<div id="mySidenav" class="sidenav">
    <a href="/" id="about"><i class="fas fa-house-user"></i> HOME</a>
    <a href="/matches" id="blog"><i class="fas fa-users"></i> MATCHES</a>
    <a href="/player" id="projects"><i class="fas fa-running"></i> PLAYERS</a>
    <a href="/about-us" id="contact"><i class="fas fa-address-card"></i> ABOUT</a>
</div>