<div id="mySidenav" class="sidenav">
    <a href="/" id="about">HOME</a>
    <a href="/matches" id="blog">MATCHES</a>
    <a href="/player" id="projects">PLAYERS</a>
    <a href="/about-us" id="contact">ABOUT</a>
</div>