<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="2;url=/" />
    <style>
        .center {
          margin: auto;
          width: 60%;
          padding: 10px;
        }
        .center img{
            width: 400px;
        }
    </style>
</head>
<body>
    <div class="center">
    <h1>Oops!! It seems like you didn't sign up before</h1>
    <img src="/images/signup.jpg" alt="">
    </div>
</body>
</html>