@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

#indexBody{
  background-color: #d2d2d2;
}
.mySlides {display: none;}
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  max-width: 65%;
  position: relative;
  margin: 0 auto 0 auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  /* padding: 8px 12px; */
  /* position: absolute;
  bottom: 8px; */
  width: 100%;
  text-align: center;
  background-color: black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* flex container */
.mySlides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
/* image in slider */
.mySlides img{
  width: 977px;
  height: 34vw;
}
.single-league-name{
border: none;
    background-color: #5d737e;
    color: white;
    padding: 5px;
    margin-right: 3%;
    font-size: 1em;
}
.leagues-names-container{
  display: flex;
  background-color: #5d737e;
  padding-left: 10px;
  flex-wrap: wrap;
  
}
.single-league-name:nth-of-type(1){
  background-color: #7f7caf;
}

.single-league-name:hover{
  background-color: gray;
}
.matchEmbed{
  width: 65%;
  margin: 0px auto 0px auto;
}
.HorizontalScroll .HorizontalScrollMouse .VideoPlayerStoriesC{
  display: none !important;
}
/* results in tabs section (leagues) */

.league-matches{
text-align: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}
.one-match{
  display: flex;
  flex-direction: column;
  width: 24%;

    padding: 5px 0px;
    font-size: 1.2em;
    min-width: 175px;
}
.league-vs{
background-image: url(../images/league-background/b1.jpg);
color: dimgray !important;
  line-height: 3em;
  font-size: 1.2em;
}
.league-vs-result{
  background-image: url(../images/league-background/17.jpg);
  background-position-y: -6px;
  line-height: 4em;
  color: whitesmoke;
  font-size: 1.2em;
}