.wrapper {
    margin: 0 auto;
    width: 90%;
}

header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(50,50,50,.95);
    box-shadow: 0 10px 20px rgba(50,50,50,.95);
}

nav {
    /* background: rgba(50,50,50,.95); */
    width: 60%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    justify-content: center;
    float:right;
    margin-top: 3%;
}
a {
    background-color: transparent;
    font-weight: 800;
    line-height: 3.1em;
    transition: all 0.5s ease;
    height: fit-content;
}
nav a{
    font: 1.4em/1em sans-serif;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    text-align: center;   
    
}
nav a:hover {
    color: green;
}
#test{
    float: left;
}
#main {
    padding-top: 70px;
}

p {
    margin: 0 0 10px;
    line-height: 1.65em;
    text-indent: 30px;
    padding: 10px;
}

/* @media screen and (max-width: 63em){
.site-header, .main-navigation {
    background-color: rgba(0, 0, 0, 0.8);
}
.site-header {
    margin-right: 5em;
    box-shadow: none;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    -webkit-box-shadow: 0 0 7px rgba( 0, 0, 0, 0.15 );
    -moz-box-shadow: 0 0 7px rgba( 0, 0, 0, 0.15 );
    box-shadow: 0 0 7px rgba( 0, 0, 0, 0.15 );
}
header {
    display: block;
}
button {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    margin:0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
}
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
    clear: both;
}
.logo {
    margin: 0 auto;
    max-width: 8em;
    margin-top: 0.2em;
}
.logo img {
    height: auto;
    max-width: 100%;
}
.main-navigation {
    transition: all 200ms ease;
}
.main-navigation {
    display: block;
    clear: both;
    float: left;
    width: 100%;
}
.primary-menu, .primary-menu a {
    line-height: 2.5em;
}
.small-navigation ul {
    display: none;
}
#primarynavwrap {
    display: block;
}
.wrap {
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
    .row {
        margin: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .full-nav {
        display: none;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .row .col.s2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col {
        float: left;
        box-sizing: border-box;
        padding: 0 0.75rem;
        min-height: 1px;
    }
    div {
        display: block;
    }
    a, a:visited {
        color: #fc5400;
    }
    .custom-logo-link {
        display: inline-block;
    }
    a {
        background-color: transparent;
    }
    a:-webkit-any-link {
        cursor: pointer;
        text-decoration: underline;
    }

    img {
        border: 0;
        width: 949px;
    }
    .row .col.s10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .row .col {
        float: left;
        box-sizing: border-box;
        padding: 0 0.75rem;
        min-height: 1px;
    }
    .navigation-primary {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 3;
        float: right;
        padding: 0 12px 0 12px;
    }
    .main-navigation ul {
        display: block;
    }
    .primary-menu, .primary-menu a {
        font-family: "Catamaran", sans-serif;
        font-weight: 700;
        color: #FFF;
        line-height: 3.1em;
        font-size: 1.1em;
        transition: all 0.5s ease;
    }
    
    ul {
        list-style: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    ul, ol {
        margin: 0;
        padding: 0;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    .primary-menu a:visited {
        color: #FFF;
    }
    a {
        background-color: transparent;
    }
    .small-navigation {
        border-top: 1px solid #000;
    }
    nav{
        display: block;
    }
    #menu-toggle {
        color: #FFF;
        position: absolute;
        top: 0;
        padding: 8px;
        right: 8px;
        border: none;
        background: none;
        z-index: 9999;
    }
    .fa-2x {
        font-size: 2em;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .fa-bars:before {
        content: "\f0c9";
    }
    .small-navigation ul {
        list-style: none;
        margin: 0;
        padding-left: 1em;
    }
}
     */