.logo {
    width: 160px;
    height: 90px;
    transition: all 0.5s ease;
    margin-top: 0.9em;
    padding-left:10%;
    margin-top:12%;

}
#football{
    margin-top: 130px;
    position: relative;
}
/* ///// */
/* subnav for the sign up */
/* 
.subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  } */