#playerSearchForm {
    margin-top: 150px;
    font-size: 30px;
    width: 100%;
    display: flex;
    top: 100px;
    padding: 20px;
    background-color:#81a884;
    text-align: center;
}

#playerNameLabel {
    margin-left: 28%;
}

#playerNameInputText {
    margin-right: 10px;
    margin-left: 10px;
    width: 300px;
    background-color: #f6f0f0;
    border-radius: 5px;
}

#searchButton {
    background-color: #e1d8d8;
    font-style: italic;
    border-radius: 5px;
    width: 80px;
}
/* #searchButton :hover {
    background-color : rgb(110, 167, 93);
} */

#playerInfoDiv {
    background-color:rgb(182, 224 ,140 ,.6);
    padding: 30px 50px 0px 50px;
    width: 100%;
}

#imageAndInfoDiv {
    display: flex;
    flex-direction: row;
}

#playerImage {
    border-radius: 10px;
    margin: 10px;
    width: 55%;
}

#playerBreifInfoDiv {
    background-color: rgba(50,50,50,.55);
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    font-size: 30px;
    padding: 70px 40px 70px 40px;
    color: #f1ebe0;
}

#playerDescription {
    font-size: 25px;
    color: #766a6a;
    padding: 20px 80px 20px 30px;
}