@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
main {
    min-height: 53.3vh;
}

body {
    background-image: url(https://st2.depositphotos.com/1502607/10186/i/950/depositphotos_101860542-stock-photo-green-grass-soccer-field-background.jpg);
}

.allPlayersContainer {
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    main {
        min-height: 53.3vh;
    }
    #playerSearchForm {
        margin-top: .9em;
        font-size: 30px;
        width: 100%;
        display: flex;
        top: 100px;
        padding: 20px 0px;
        background-color: rgb(230 228 228);
        text-align: center;
        font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    }
    #playerNameLabel {
        margin-left: 28%;
    }
    #playerNameInputText {
        margin-right: 10px;
        margin-left: 10px;
        width: 300px;
        background-color: #f6f0f0;
        border-radius: 5px;
    }
    #searchButton {
        background-color: #33383b;
        color: #f1ebe0;
        font-style: italic;
        border-radius: 5px;
        width: 80px;
    }
    /* #searchButton :hover {
        background-color : rgb(110, 167, 93);
    } */
    #playerInfoDiv {
        /* background-color:rgba(101, 110, 92, 0.6); */
        background-color: #5e7c60;
        padding: 20px 0px 20px 0px;
        width: 70%;
        margin: auto;
        /* background-image: url(https://st2.depositphotos.com/1502607/10186/i/950/depositphotos_101860542-stock-photo-green-grass-soccer-field-background.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        /* align-content: center; */
        justify-content: center;
        margin-top: 20px;
        border-radius: 10px;
        height: 500px;
    }
    /* .imageAndInfoDiv {
        display: flex;
        flex-direction: row;
    } */
    .playerImage {
        border-radius: 10px;
        margin: 10px;
        width: 450px;
    }
    .playerBreifInfoDiv {
        background-color: rgba(50, 50, 50, .55);
        margin: 10px;
        border-radius: 10px;
        width: 350px;
        font-size: 25px;
        padding: 25px;
        color: #f1ebe0;
        line-height: 1.5em;
    }
    #playerDescription {
        font-size: 25px;
        color: #e6e0e0;
        padding: 20px 80px 20px 30px;
        background-color: rgba(50, 50, 50, .55);
    }
    #resultsStatus {
        width: 70%;
        margin: auto;
        margin-top: 20px;
        background-color: #7f7caf;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 360px) {
    #playerSearchForm {
        margin-top: 125px;
        font-size: 15px;
        width: 100%;
        display: flex;
        top: 100px;
        padding: 8px;
        background-color: #3a811a;
        text-align: center;
        font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    }
    #playerNameLabel {
        margin-left: 1%;
    }
    #playerNameInputText {
        margin-right: 1px;
        margin-left: 5px;
        width: 150px;
        background-color: #f6f0f0;
        border-radius: 5px;
    }
    #searchButton {
        background-color: #33383b;
        color: #f1ebe0;
        font-style: italic;
        border-radius: 5px;
        width: 60px;
    }
    #playerInfoDiv {
        padding: 15px;
        margin: auto;
        background-color: #648668;
        width: 80%;
        margin-top: 15px;
        border-radius: 10px;
    }
    .imageAndInfoDiv {
        display: flex;
        flex-direction: column;
    }
    .playerImage {
        border-radius: 10px;
        width: 100%;
        margin: 0px;
    }
    .playerBreifInfoDiv {
        margin: 5px 0px 0px 0px;
        background-color: #506452;
        border-radius: 10px;
        font-size: 20px;
        color: #f1ebe0;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    #playerDescription {
        display: none;
    }
    footer {
        margin: 0;
        padding: 0%;
        width: 100%;
    }
}