body{
    background-color: rgb(236, 236, 27);
}
main {
    width: 100%;
    height: 100%;
    min-height: 53.3vh;

}

#searchCategoryUl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchCategoryLi {
    background-color: violet;
    margin-right: 30px;
    padding: 20px;
    font-size: 30px;
}

#searchCategoryLabel {}

#searchCategoryCountry {}

#searchCategoryCountry:hover+#countrySearchForm {
    display: inline !important;
}

#searchCategoryTeam {}

#searchCategoryPlayer {}

#searchCategoryLeague {}



#playerInfoDiv {
    background-color: #b6e08c;
    padding: 30px 50px 0px 50px;
    position: absolute;
    top: 220px;
    width: 100%;
}

#imageAndInfoDiv {
    display: flex;
    flex-direction: row;
}

#playerImage {
    border-radius: 10px;
    margin: 10px;
    width: 55%;
}

#playerBreifInfoDiv {
    background-color: rgb(62, 116, 216);
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    font-size: 30px;
    padding: 70px 40px 70px 40px;
    color: wheat;
}

#playerDescription {
    font-size: 25px;
    color: white;
    padding: 20px 80px 20px 30px;
}

/*  */
.single-search-name{
    border: none;
        background-color: black;
        color: white;
        padding: 5px;
        margin-right: 3%;
        font-size: 1em;
    }
    .leagues-names-container{
      display: flex;
      background-color: black;
      padding-left: 10px;
      flex-wrap: wrap;
      
    }
    .single-search-name:nth-of-type(1){
      background-color: red;
    }
    
    .single-search-name:hover{
      background-color: gray;
    }
    .match-search-tabs-container{
        margin: 4em auto 0px auto;
        width: 85%;
    }
    .searchForm{
        width: 29%;
        display: flex;
        flex-direction: column;
        padding: 5px 0px;
        font-size: 1.2em;
    }
    /*  */