body {
    background-color: wheat;
    background-image: linear-gradient(white, rgb(165, 161, 161));
}

main {
    width: 100%;
    height: 100%;
    min-height: 53.3vh;
}

#searchCategoryUl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchCategoryLi {
    background-color: violet;
    margin-right: 30px;
    padding: 20px;
    font-size: 30px;
}

#searchCategoryLabel {}

#searchCategoryCountry {}

#searchCategoryCountry:hover+#countrySearchForm {
    display: inline !important;
}

#searchCategoryTeam {}

#searchCategoryPlayer {}

#searchCategoryLeague {}

#playerInfoDiv {
    background-color: #b6e08c;
    padding: 30px 50px 0px 50px;
    position: absolute;
    top: 220px;
    width: 100%;
}

#imageAndInfoDiv {
    display: flex;
    flex-direction: row;
}

#playerImage {
    border-radius: 10px;
    margin: 10px;
    width: 55%;
}

#playerBreifInfoDiv {
    background-color: rgb(62, 116, 216);
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    font-size: 30px;
    padding: 70px 40px 70px 40px;
    color: wheat;
}

#playerDescription {
    font-size: 25px;
    color: white;
    padding: 20px 80px 20px 30px;
}


/*  */

.single-search-name {
    border: none;
    background-color: #5d737e;
    color: white;
    padding: 5px;
    margin-right: 3%;
    font-size: 1em;
    outline: none;
}

.leagues-names-container {
    display: flex;
    background-color: #5d737e;
    padding-left: 10px;
    flex-wrap: wrap;
}

.single-search-name:nth-of-type(1) {
    background-color: #7f7caf;
}

.single-search-name:hover {
    background-color: gray;
}

.match-search-tabs-container {
    margin: 4em auto 0px auto;
    width: 85%;
}


/*  */

.whole-card-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 27%;
    text-align: center;
    padding: 8px;
    margin: 12px;
    display: flex;
    background-color: wheat;
    background-image: linear-gradient(white, rgb(194, 190, 190));
}

.each-match-serchResult>.each-match-teams-name {
    color: forestgreen;
    line-height: 1.6;
    font-size: 1em;
    font-weight: 900;
}

.each-match-serchResult>.each-match-date {
    color: #af4c4ce0;
    /* padding: 3px; */
    line-height: 1.6;
}

.all-matches-search-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-top: 70px;
}

.add-wishList {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.whole-card-div .left-flag,
.whole-card-div .each-match-serchResult,
.whole-card-div .right-flag {
    display: inline-block;
    /* vertical-align: top; */
}

.whole-card-div .left-flag {
    width: 10%;
    padding-right: 2px;
}

.each-match-serchResult {
    width: 75%;
}

.whole-card-div .right-flag {
    width: 10%;
    padding-left: 2px;
}

.searchForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    text-align: center;
    padding: 3px;
    margin-left: 25%;
    margin-top: 15px;
    background-color: wheat;
    background-image: linear-gradient(white, rgb(194, 190, 190));
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    font-size: 1.1em;
    justify-content: center;
}

.searchButton {
    background-color: #252725;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.leagues-names-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.matchInputclass {
    height: 22px;
    width: 250px;
    border-radius: 7px;
}

@media (max-width: 360px) {
    .match-search-tabs-container {
        margin: 9em auto 0px auto;
        width: 85%;
    }
    .searchForm {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 98%;
        text-align: center;
        padding: 4px;
        margin: 10px;
        margin-left: 1%;
        background-color: wheat;
        background-image: linear-gradient(white, rgb(194, 190, 190));
    }
    .whole-card-div {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 90%;
        text-align: center;
        padding: 10px;
        margin: 15px;
        background-color: wheat;
        background-image: linear-gradient(white, rgb(194, 190, 190));
    }
    .matchInputclass {
        height: 20px;
        width: 230px;
        border-radius: 7px;
        margin: 7px;
    }
    .all-matches-search-result {
        margin-top: 20px;
    }
    #resultsStatus {
        padding: 5px;
        width: 70%;
        margin: auto;
        margin-top: 20px;
        background-color: #7f7caf;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}

#resultsStatus {
    padding: 5px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    background-color: #7f7caf;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}