table td:hover {
  width: 300px;
  height: 300px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 15px;
  padding: 0;
  width: 98%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  color: #B75D69;
  font-size: 20px;
}

table th {
  font-size: 22px;
  background-color: #EACDC2;
  height: 35px;
  letter-spacing: .1em;
  text-transform: uppercase;
}